<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Operacion Fallida</title>
  </head>
  <body>
  	<div align="center">
  		<h1>La orden no pudo ingresarse al sistema</h1>
  		<h1>El propietario no existe</h1>
  		<h1>Como desea seguir con la operacion?</h1>
  		<hr></hr>
  		<hr></hr>
  		<a th:href = "@{/cargaPropietario}"><button>Cargar un nuevo propietario</button></a>
  		<a th:href = "@{/home}"><button>Volver al menu principal</button></a>
  	</div>
  	
	
  </body>
</html>